* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url(https://img.freepik.com/premium-vector/abstract-seamless-pattern-background-with-artistic-style_7505-1600.jpg?w=2000);
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 70px;
}

button {
    outline: 1px solid rgb(53, 53, 53);
}

img {
    height: 30px;
    width: auto;
}

img:hover {
    transition: 0.2s;
    transform: scale(1.3)
}

/* BUTTONS */
#size {
    font-weight: bold;
    padding: 10px 10px;
    color: black;
    background-color: white;
    border-style: none;
    border-radius: 5px;
    margin: 5px 0px;
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/003/604/064/small/surface-space-blank-white-color-background-with-black-grid-space-line-color-surfaces-cyber-technology-banners-covers-terrain-sci-fi-frames-and-related-background-vector.jpg);
    background-size: contain;
}

#size:hover {
    transition: 0.2s ease-in-out;
    scale: 1.03;
}

#colorPicker {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    height: 50px;
    width: 48px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

#colorPicker:hover {
    transition: 0.2s ease-in-out;
    scale: 1.1;
}

#colorPicker::-webkit-color-swatch {
    border-radius: 50%;
    border: none;
}

#colorPicker::-moz-color-swatch {
    border-radius: 50%;
    border: none;
}

#grayscale {
    font-weight: bold;
    padding: 10px 10px;
    color: white;
    background-color: darkgrey;
    border-style: none;
    border-radius: 5px;
    margin: 5px 0px;
}

#grayscale:hover {
    transition: 0.2s ease-in-out;
    scale: 1.03;
    background-color: rgb(102, 102, 102);
}

#random {
    font-weight: bold;
    padding: 10px 10px;
    color: white;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR96-nt-cdzx0IrsFDgU87IkfoLMOysBAnTpw&usqp=CAU);
    background-size: contain;
    border-style: none;
    border-radius: 5px;
    margin: 5px 0px;
}

#random:hover {
    transition: 0.2s ease-in-out;
    scale: 1.03;
}

#erase {
    font-weight: bold;
    padding: 10px 10px;
    color: white;
    background-color: pink;
    border-style: none;
    border-radius: 5px;
    margin: 5px 0px;
}

#erase:hover {
    transition: 0.2s ease-in-out;
    scale: 1.03;
}

#shake {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 40px;
    color: white;
    background-color: red;
    border-style: none;
    border-radius: 5px;
    margin-top: 6px;
    margin-bottom: 30px;
}

#shake:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
   @keyframes shake {
    0% { transform: translate(1px, 2px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-2px, 0px) rotate(1deg); }
    30% { transform: translate(2px, 1px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 1px) rotate(-1deg); }
    60% { transform: translate(-2px, 1px) rotate(0deg); }
    70% { transform: translate(2px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* CONTAINERS */
.header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.sizeColorContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.colorBtnsContainer {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 5px;

}

.etchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.gridContainer {
    width: 960px;
    min-height: 960px;
    display: grid;
    grid-template-columns: repeat(16, auto);
    border: 50px solid red;
    border-radius: 10px;
    outline: 2px solid black;
    background-color: rgb(250, 250, 250);
    flex: 0, 1, auto;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: auto;
}